

<h3>Current tasks: </h3>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <h1><%= link_to task.title, task_path(task) %>
    <%= link_to check_box_tag(:task, :completed, task.completed), "/tasks/#{task.id}/complete/#{!task.completed}"%></h1>
  </li>
  <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
