<h1>Your Tasks - Task Index</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <h1><%= link_to task.title, task_path(task) %></h1>
    <p>
      Completed: <%= task.completed %>
    </p>
  </li>
  <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
